nav {
  @apply absolute w-full bg-background-base-50 dark:bg-background-dark-900 p-2 flex flex-row justify-between z-10 shadow items-center px-4;
}

input {
  &:focus {
    @apply border-b-text-base-900 dark:border-background-dark-600 border-b-[1px];
  }
}

button.btn-shadow {
  @apply shadow px-2 py-1 rounded flex justify-center items-center;
}

span {
  @apply text-sm;
}

#nameInput {

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:300px; /* some width */
}
