<div>
  <nav class="bg-[#fcfcfc] w-full shadow flex flex-row items-center justify-between px-10 py-4 fixed">
    <div class="flex flex-row items-center">
      <a [routerLink]="['/']">
        <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      </a>
      <a [routerLink]="['/about']" class="ms-10">
        About
      </a>
    </div>
    <div>
      <a [routerLink]="['/login']" class="border-[1px] border-[#3d3d3d] rounded px-8 py-3 me-3">Login</a>
      <a [routerLink]="['/signup']" class="bg-[#3d3dd3] !text-white px-8 py-3 rounded">Sign up</a>
    </div>
  </nav>

  <main class="min-h-screen pt-28 flex flex-col items-center">
    <h1 class="text-center font-bold text-4xl">Meet the Developers</h1>
    <div class="rounded bg-[#f3f3f3] shadow flex flex-row items-center justify-center py-4 px-6 my-10">
      <img src="https://placehold.co/128x128?text=User" alt="dev" class="rounded-full" >
      <div class="flex flex-col justify-start text-start ms-5">
        <h2 class="font-bold text-2xl">Gustavo Silva</h2>
        <p>Founder</p>
        <div>
          <a href="/">
            <mat-icon svgIcon="linkedin" class="me-1"></mat-icon>
          </a>
          <a href="/">
            <mat-icon svgIcon="github"></mat-icon>
          </a>
        </div>
      </div>
    </div>
    <h2 class="text-center font-bold text-3xl mb-10">
      Contributors
    </h2>
    <p>
      At the moment, we don’t have any contributors on this project :(
    </p>
    <a href="/" class="underline">Contribute!</a>
    <h3 class=" text-center font-bold text-xl my-10">Shape the Future of Infinite Thinking. Contribute to this project!</h3>
    <div class="text-center w-1/3 text-lg" id="contributeGuide">
      <p>Any help is welcome. if you want to contribute, visit the <a href="">github repository</a> and see the guide.</p>
      <p>Mindlab is built in <a href="/">Angular</a> using <a href="/">Jsplumb (community edition)</a> and <a href="/">Panzoom</a> to make the core functionalities</p>
      <p>If you have any suggestion or bug report, don’t hesitate to open an issue in github or contact: <span>mindlab&#64;gmail.com</span></p>
    </div>
  </main>

  <footer class="bg-[#f3f3f3] flex flex-row items-center justify-between py-12 px-12 shadow">
    <div class="flex flex-row items-center justify-center">
      <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      <p class="ms-5">Mindlab</p>
    </div>
    <div class="flex flex-row items-center justify-center" id="footer-links-container">
      <a [routerLink]="['/support']">Support</a>
      <a [routerLink]="['/support']">Terms of use</a>
      <a [routerLink]="['/support']">Manage Cookies</a>
      <a [routerLink]="['/support']">Get Started</a>
    </div>
  </footer>
</div>
