<div>
  <nav class="flex flex-row justify-between items-center px-8 py-4">
    <div class="flex flex-row items-center">
      <a [routerLink]="['/']"><img src="../../assets/logoplaceholder.svg" alt="logoHibounote" id="logo"></a>
      <aside class="ms-4 font-bold">Hibounote</aside>
    </div>
    <div class="flex flex-row items-center">
      <a [routerLink]="['/about']" class="me-10">
        About
      </a>
      <a class="w-14" [routerLink]="['/account']" matTooltip="Go to dashboard">
        <img src="https://placehold.co/128x128?text=User" alt="" class="rounded-full w-full">
      </a>
    </div>
  </nav>

  <main class="w-1/2 m-auto min-h-screen mt-10">
    <h1 class="main-title mb-4">Know the fundamentals</h1>

    <ng-container *ngFor="let item of tutorialService.tutorials">
      <tutorial-feature-card
      [title]="item.title"
      [description]="item.description"
      [imageDemonstrationURL]="item.imageDemoURL">
      </tutorial-feature-card>
    </ng-container>

    <p class="my-10 text-center">Still need help? <span class="underline text-secondary-400">hibounote&#64;gmail.com</span></p>
  </main>

  <app-footer></app-footer>
</div>
