<div class="dragDiv nodeElement"></div>
<div class="fadeDiv nodeElement"></div>
<div class="resizeButton nodeElement">
  <mat-icon style="width: 80%;" svgIcon="resize"></mat-icon>
</div>
<div class="linkActionButton nodeElement">
  <div class="linkAction absolute h-full w-full z-10 bg-transparent">
  </div>
  <mat-icon class="linkAction absolute" style="width: 80%;" svgIcon="link"></mat-icon>
</div>
<textarea class="text-sm desc nodeElement p-2 rounded !h-9 !bg-background-300 !bg-opacity-50" rows="1" [value]="innerTextarea" placeholder="Double click to type...">Group</textarea>



