<main>
  <context-menu-component
    #contextMenu
    (renderer)="renderer"
    [style.position]="'absolute'"
    [style.display]="boardService.contextMenu.show ? 'block' : 'none' "
    [style.top]="boardService.contextMenu.y+'px'"
    [style.left]="boardService.contextMenu.x+'px'"
  ></context-menu-component>

  <controlpan-component></controlpan-component>
  <navbar-component></navbar-component>
  <toolbox-component></toolbox-component>

  <div #board id="board">
    <div #main id="main">

    </div>
  </div>
</main>
