<div>
  <app-navbar
  [buttons]="[
    {
      elementType: 'a',
      customStyles:'!py-2 !px-5',
      routerLink: 'account',
      text: 'Get Started',
      theme: 'btn-primary',
    },
    {
      elementType: 'a',
      customStyles:'!py-2 !px-5',
      icon:'github',
      url: 'https://github.com/hibounoteapp/hibounote',
      text: 'Stars on Github',
      theme: 'btn-secondary',
    },
  ]">
  </app-navbar>

  <main>
    <h1 class="main-title">Terms and Conditions</h1>
    <div id="terms" class="base-text">
      <div>
        <span class="font-bold"> 1. Acceptance of Terms</span> <br>

        <p>By accessing or using our Service, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.</p>

        <br><span class="font-bold">2. Account Information</span> <br>

        <p>When you create an account with us, you must provide us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

        <br><span class="font-bold">3. Data Collection and Use</span> <br>

        <p>We collect and store the following information from you:</p>

        <ul>
          <li><span class="font-bold">Email:</span> Used for account verification, communication, and password recovery;</li>
          <li><span class="font-bold">Username:</span> Used as your unique identifier within the Service;</li>
          <li><span class="font-bold">Password:</span> Used to securely log in to your account.</li>
        </ul>

        <p>Your information will not be shared with third parties.</p>

        <br><span class="font-bold">4. Cookies and Local Storage</span><br>

        <p>We use cookies and Local Storage to enhance your experience on our Service. Cookies are files with a small amount of data that are sent to your browser from a website and stored on your device. Local Storage allows us to store data locally on your browser to improve navigation and user experience.</p> <br>

        <p><span class="font-bold">Cookies:</span> We use cookies to manage user sessions, track user activity, and store preferences. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p> <br>

        <p><span class="font-bold">Local Storage:</span> We use Local Storage to store user preferences and session data. This data is used to improve navigation and user experience on our Service.</p> <br>


        <span class="font-bold">5. Security</span><br>

        The security of your personal information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security. <br>

        <br><span class="font-bold">6. Termination</span> <br>

        We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination, your right to use the Service will immediately cease.
        <br>

        <br><span class="font-bold">7. Changes to Terms</span><br>

        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
        <br>

        <br><span class="font-bold">8. Contact Us</span><br>

        If you have any questions about these Terms, please contact us at <span class="underline">hibounoteapp&#64;gmail.com</span>.

        By using our Service, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
