<div class="sidebar-container">
  <div class="flex flex-row items-center my-2" id="logo-container">
    <a [routerLink]="['/']"><img src="../../assets/logo.svg" alt="logoHibounote" id="logo"></a>
    <aside class="ms-2 font-semibold" id="logo-label">Hibounote</aside>
  </div>
  <div id='utilLinks'>
    <button class="link" (click)="settingsModal()">
      <mat-icon svgIcon="settings"></mat-icon>
      <p>Settings</p>
    </button>
    <button class="link" (click)="uploadFile()">
      <mat-icon svgIcon="upload"></mat-icon>
      <p>Import board</p>
      <input type="file" class="hidden" id="importJSON" accept=".json" (change)="createFromImport($event)">
    </button>
    <button class="link" matTooltip="🚧In progress.">
      <mat-icon svgIcon="template" class="icon-background-400"></mat-icon>
      <p class="text-background-500">Templates</p>
    </button>
  </div>
  <div id="tags-fav-container">
    <div id="favorites">
      <div class="iconText mb-2">
        <p class="label self-start me-1">Favorites</p>
        <button class="flex items-center justify-center">
          <mat-icon svgIcon="add" style="scale: 0.8;"></mat-icon>
        </button>
      </div>
      <!-- <ng-container *ngIf="expression;else templateName">
        <ng-container *ngFor="let item of list">

        </ng-container>
      </ng-container> -->
      <div class="emptyMessage">
        <p class="text-center">There is no<br>favorite boards.</p>
      </div>
    </div>
    <hr class="w-[90%] border-background-400">
    <div id="tags">
      <div class="iconText mb-2">
        <p class="label self-start me-1">Tags</p>
        <button class="flex items-center justify-center">
          <mat-icon svgIcon="add" style="scale: 0.8;"></mat-icon>
        </button>
      </div>
      <!-- <ng-container *ngIf="expression;else templateName">
        <ng-container *ngFor="let item of list">

        </ng-container>
      </ng-container> -->
      <div class="emptyMessage">
        <p class="text-center">There is no<br>tags created.</p>
      </div>
    </div>
  </div>
  <button id="download">
    <mat-icon svgIcon="download"></mat-icon>
    <p class="ms-2">Download the app</p>
  </button>
</div>
