<main>
  <context-menu-component
    #contextMenu
    (renderer)="renderer"
    [style.position]="'absolute'"
    [style.display]="boardService.contextMenu.show ? 'block' : 'none' "
    [style.top]="boardService.contextMenu.y+'px'"
    [style.left]="boardService.contextMenu.x+'px'"
  ></context-menu-component>

  <controlpan-component></controlpan-component>
  <navbar-component></navbar-component>
  <toolbox-component></toolbox-component>

  <div #board id="board">

    <div #main id="main" class="polka">

    </div>
  </div>
</main>

<div id="mobile-msg">
  <h1 class="sub-title-2xl">Oh no!</h1>
  <p>You can't open a board in a smartphone</p>
  <a [routerLink]="['/account']" class="underline text-accent-base-800">Return to account</a>
</div>
