<nav
[style.position]="fixed?'fixed':'relative'">
  <div class="flex flex-row items-center">
    <a [routerLink]="['/']">
      <img src="../../assets/logoplaceholder.svg" alt="icon" id="logo">
    </a>
  </div>
  <div class="flex flex-row items-center">
    <a [routerLink]="['/about']" class="me-3">
      About
    </a>
    <app-simple-button
      [routerLink]="'/account'"
      text="Account"
      [visible]="accountButton.visible"
      [theme]="accountButton.theme"
      [elementType]="'a'"
      >
    </app-simple-button>

    <app-simple-button
      [routerLink]="'/login'"
      text="Login"
      [visible]="loginButton.visible"
      [theme]="loginButton.theme"
      [elementType]="'a'"
    >
    </app-simple-button>

    <app-simple-button
      [routerLink]="'/signup'"
      text="Sign up"
      [visible]="signupButton.visible"
      [theme]="signupButton.theme"
      [elementType]="'a'"
    >
  </app-simple-button>

  </div>
</nav>
