<ng-container *ngIf="elementType === 'a'; else buttonType">
  <a
    [id]="id"
    [routerLink]="[routerLink]"
    class="btn {{theme}} {{customStyles}} {{visible ? 'inline' : 'hidden'}}">
      {{text}}
  </a>
</ng-container>

<ng-template #buttonType>

  <ng-container *ngIf="elementType === 'button'; else submitType">
    <button
      [id]="id"
      class="btn {{theme}} {{customStyles}} {{visible ? 'inline' : 'hidden'}}">
      {{text}}
    </button>
  </ng-container>

  <ng-template #submitType>
    <input
      [id]="id"
      type="submit" value="{{text}}"
      class="btn {{theme}} {{customStyles}} {{visible ? 'inline' : 'hidden'}}">
  </ng-template>

</ng-template>
