

<footer>
  <div class="flex flex-row items-center justify-center me-2">
    <img src="../../assets/logoplaceholder.svg" alt="icon" id="logo">
    <div class="flex flex-col items-start justify-center">
      <p class="ms-5 font-bold">Hibounote</p>
      <p class="ms-5 text-[0.8em]">Logo sourced from <a href="https://openmoji.org" class="underline">OpenMoji.</a></p>
    </div>
  </div>
  <div class="flex flex-row items-center justify-center" id="footer-links-container">
    <a [routerLink]="['/support']">Support</a>
    <a [routerLink]="['/terms']">Terms of use</a>
    <button (click)="openModalCookies()">Manage Cookies</button>
    <a [routerLink]="['/signup']">Get Started</a>
  </div>
</footer>
