div.template-container {
  @apply w-full h-32 flex flex-row justify-between items-center px-4;
}

button.templateBoard {
  @apply w-[30%] h-4/5 bg-background-400 rounded shadow mx-3;
}

button#createBlank {
  @apply bg-primary-base-600 flex items-center justify-center;
}

#kanban {
  background-image: url('../../../../../../../assets/images/template-boards/kanban.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sprint-retro {
  background-image: url('../../../../../../../assets/images/template-boards/sprint-retro.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


