<div>
  <nav class="bg-[#fcfcfc] w-full shadow flex flex-row items-center justify-between px-10 py-4 fixed">
    <div class="flex flex-row items-center">
      <a [routerLink]="['/']">
        <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      </a>
      <a [routerLink]="['/about']" class="ms-10">
        About
      </a>
    </div>
    <div>
      <a [routerLink]="['/login']" class="border-[1px] border-[#3d3d3d] rounded px-8 py-3 me-3">Login</a>
      <a [routerLink]="['/signup']" class="bg-[#3d3dd3] !text-white px-8 py-3 rounded">Sign up</a>
    </div>
  </nav>

  <main class="min-h-screen pt-28 flex flex-col items-center">
    <h1 class="text-center font-bold text-4xl">Contact information</h1>
    <div class="text-center w-1/3 text-lg my-10" id="contact-info">
      <p>
        Any issue can be contacted in: <br>
        <span>
          mindlab&#64;gmail.com
        </span>
      </p>
      <p>
        You can also contact by github visiting the repository: <br>
        <a href="https://github.com/gustavofdasilva/mnos" target="_blank">https://github.com/gustavofdasilva/mnos</a>
      </p>
      <p>
        Or my profile: <br>
        <a href="https://github.com/gustavofdasilva" target="_blank">https://github.com/gustavofdasilva</a>
      </p>
    </div>
  </main>

  <footer class="bg-[#f3f3f3] flex flex-row items-center justify-between py-12 px-12 shadow">
    <div class="flex flex-row items-center justify-center">
      <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      <p class="ms-5">Mindlab</p>
    </div>
    <div class="flex flex-row items-center justify-center" id="footer-links-container">
      <a [routerLink]="['/support']">Support</a>
      <a [routerLink]="['/support']">Terms of use</a>
      <a [routerLink]="['/support']">Manage Cookies</a>
      <a [routerLink]="['/support']">Get Started</a>
    </div>
  </footer>
</div>
