<div class="dragDiv nodeElement"></div>
<div class="fadeDiv nodeElement"></div>
<div class="resizeButton nodeElement">
  <mat-icon svgIcon="resize" style="width: 80%;"></mat-icon>
</div>
<div class="linkActionButton nodeElement">
  <div class="linkAction absolute h-full w-full z-10 bg-transparent">
  </div>
  <mat-icon svgIcon="pin" class="linkAction absolute" style="width: 80%;"></mat-icon>
</div>
<textarea class="desc nodeElement" readonly disabled="true" [value]="innerTextarea"></textarea>


