.jtk-group-collapsed {
  @apply h-10 overflow-hidden;

}

.jtk-drag-select * {
  background: #f0d;
}

.grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  .thumbnails-list{
      cursor: pointer;
  }
}

.grab:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

