<div id="boardContent">
  <app-context-menu
    #contextMenu
    (renderer)="renderer"
    [style.position]="'absolute'"
    [style.display]="boardService.contextMenu.show ? 'block' : 'none' "
    [style.top]="boardService.contextMenu.y+'px'"
    [style.left]="boardService.contextMenu.x+'px'"
  ></app-context-menu>

  <controlpan-component></controlpan-component>

  <toolbox-component></toolbox-component>

  <div #board id="board"class="w-full h-full absolute">
    <div #main id="main"></div>
  </div>
</div>
