<main>
  <app-context-menu
    #contextMenu
    (renderer)="renderer"
    [style.position]="'absolute'"
    [style.display]="boardService.contextMenu.show ? 'block' : 'none' "
    [style.top]="boardService.contextMenu.y+'px'"
    [style.left]="boardService.contextMenu.x+'px'"
  ></app-context-menu>
  <div #pantools id="pantools">
    <button class="controlTools" (click)="boardService.resetPan()">
      <mat-icon svgIcon="maximize"></mat-icon>
    </button>
    <button class="controlTools" (click)="boardService.zoomClick('in')">
      <mat-icon svgIcon="zoom-in"></mat-icon>
    </button>
    <button class="controlTools" (click)="boardService.zoomClick('out')">
      <mat-icon svgIcon="zoom-out"></mat-icon>
    </button>
  </div>
  <!-- <div #toolbox id="toolbox">
    <div #editingNode id="editNode" *ngIf="nodeService.activeNode; else addingNode">
        <button class="return controlTools" (click)="disactivateNode()">
          <mat-icon svgIcon="return"></mat-icon>
        </button>
        <button class="w-10 h-10 bg-green-300 rounded" (click)="editNode('backgroundColor','rgb(134,239,172)')"></button>
        <button class="w-10 h-10 bg-red-300 rounded" (click)="editNode('backgroundColor','rgb(252,165,165)')"></button>
        <button class="w-10 h-10 bg-blue-300 rounded" (click)="editNode('backgroundColor','rgb(147,197,253)')"></button>
        <button class="w-10 h-10 bg-pink-300 rounded" (click)="editNode('backgroundColor','rgb(249,168,212)')"></button>
    </div>

    <ng-template #addingNode id="addNode">
      <div class="grab" draggable="true" id="note">
        <mat-icon svgIcon="reader"></mat-icon>
      </div>
      <div class="grab" draggable="true" id="group">
        <mat-icon svgIcon="folder"></mat-icon>
      </div>
    </ng-template>
  </div> -->

  <toolbox-component #toolbox id="toolbox"></toolbox-component>

  <div #board class="w-full h-full absolute">
    <div #main class=" bg-black absolute" id="main">
      <!-- <div class="min-w-48 max-w-56 min-h-20 max-h-44 border-2 border-black absolute node p-2 overflow-hidden" style="top: 10px; left: 20px;">
        <div class=" bg-teal-700 w-4 h-4 rounded absolute bottom-0 right-0 cursor-nw-resize"
        (mousedown)="resizeMouseDown($event)"
        (window:mouseup)="resizeMouseUp($event)"></div>
        <div class=" bg-slate-900 w-5 h-5 rounded linkAction"></div>
        <p class="font-bold">Title</p>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quis saepe ad nulla officiis vel molestias.</p>
      </div>
      <div class="min-w-48 max-w-56 min-h-20 max-h-44 border-2 border-black absolute node p-2 overflow-hidden"
      style="top: 500px; left: 200px;">
        <div class=" bg-teal-700 w-4 h-4 absolute bottom-0 right-0 cursor-nw-resize"
          (mousedown)="resizeMouseDown($event)"
          (window:mouseup)="resizeMouseUp($event)"
          ></div>
        <div>
        <div class=" bg-slate-900 w-5 h-5 rounded linkAction"></div>
        <p class="font-bold">Title</p>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quis saepe ad nulla officiis vel molestias.</p>
        </div>
      </div>

      <div class="min-w-48 max-w-60 min-h-40 max-h-44  border-2 border-black absolute node p-2 overflow-hidden"
      style="top: 100px; left: 500px;">
        <div class=" bg-teal-700 w-4 h-4 rounded  absolute bottom-0 right-0 cursor-nw-resize"
        (mousedown)="resizeMouseDown($event)"
        (window:mouseup)="resizeMouseUp($event)"></div>
        <div class="min-w-48 max-w-60 min-h-20 max-h-44  border-2 border-black absolute node left-2 p-2 overflow-hidden">
          <div class=" bg-slate-900 w-5 h-5 rounded linkAction"></div>
          <p class="font-bold text-xs">little title</p>
          <p class="text-xs">Lorem ipsum dolor sit amet.</p>
          <div class=" bg-teal-700 w-4 h-4 rounded  absolute bottom-0 right-0 cursor-nw-resize"
          (mousedown)="resizeMouseDown($event)"
          (window:mouseup)="resizeMouseUp($event)"></div>
        </div>
      </div> -->

    </div>
  </div>
</main>
