<main>
  <h1 class="main-title">Meet the Developers</h1>
  <div class="founder-card">
    <div class="flex flex-col justify-start text-start">
      <h2 class="font-bold text-2xl">Gustavo Silva</h2>
      <p>Founder</p>
      <div>
        <a href="/">
          <mat-icon class="me-1" svgIcon="linkedin"></mat-icon>
        </a>
        <a href="/">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
    </div>
  </div>
  <h2 class="mb-10 sub-title-3xl">
    Contributors
  </h2>
  <p>
    At the moment, we don't have any contributors on this project :(
  </p>
  <a href="https://github.com/gustavofdasilva/hibounote" class="underline">Contribute!</a>
  <h3 class="sub-title-xl my-10">Shape the Future of Infinite Thinking. Contribute to this project!</h3>
  <div class="base-text w-1/3" id="contributeGuide">
    <p>Any help is welcome. if you want to contribute, visit the <a href="https://github.com/gustavofdasilva/hibounote">github repository</a> and see the guide.</p>
    <p>Hibounote is built in <a href="https://angular.dev">Angular</a> using <a href="https://jsplumbtoolkit.com/community">Jsplumb (community edition)</a> and <a href="/">Panzoom</a> to make the core functionalities</p>
    <p>If you have any suggestion or bug report, don’t hesitate to open an issue in github or contact: <span>hibounoteapp&#64;gmail.com</span></p>
  </div>
</main>
