<main>
  <h1 class="main-title">Meet the Developers</h1>
  <div class="founder-card">
    <img src="https://placehold.co/128x128?text=User" alt="dev" class="rounded-full" >
    <div class="flex flex-col justify-start text-start ms-5">
      <h2 class="font-bold text-2xl">Gustavo Silva</h2>
      <p>Founder</p>
      <div>
        <a href="/">
          <mat-icon class="me-1">linkedin</mat-icon>
        </a>
        <a href="/">
          <mat-icon >github</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <h2 class="mb-10 sub-title-3xl">
    Contributors
  </h2>
  <p>
    At the moment, we don't have any contributors on this project :(
  </p>
  <a href="/" class="underline">Contribute!</a>
  <h3 class="sub-title-xl my-10">Shape the Future of Infinite Thinking. Contribute to this project!</h3>
  <div class="base-text w-1/3" id="contributeGuide">
    <p>Any help is welcome. if you want to contribute, visit the <a href="">github repository</a> and see the guide.</p>
    <p>Hibounote is built in <a href="/">Angular</a> using <a href="/">Jsplumb (community edition)</a> and <a href="/">Panzoom</a> to make the core functionalities</p>
    <p>If you have any suggestion or bug report, don’t hesitate to open an issue in github or contact: <span>hibounote&#64;gmail.com</span></p>
  </div>
</main>
