<main>
  <h1 class="main-title">Meet the Developers</h1>
  <div class="founder-card">
    <div class="flex flex-col justify-start text-start">
      <h2 class="font-bold text-2xl">Gustavo Silva</h2>
      <p>Founder</p>
      <div>
        <a href="https://www.linkedin.com/in/gustavo-f-da-silva/" target="_blank">
          <mat-icon class="me-1" svgIcon="linkedin"></mat-icon>
        </a>
        <a href="https://github.com/gustavofdasilva" target="_blank">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
    </div>
  </div>
  <h2 class="mb-5 sub-title-3xl">
    Contributors
  </h2>
  <p class="text-center px-10">
    At the moment, we don't have any contributors on this project :(
  </p>
  <a href="https://github.com/gustavofdasilva/hibounote" class="underline" target="_blank">Contribute!</a>
  <h3 class="sub-title-xl mt-10 mb-5">Shape the Future of Infinite Thinking. <br>Contribute to this project!</h3>
  <div class="base-text" id="contributeGuide">
    <p>(🚧Currently in open test. Send suggestion and bug reports!🚧)</p>
    <p>Any help is welcome. if you want to contribute, visit the <a href="https://github.com/gustavofdasilva/hibounote" target="_blank">github repository</a> and see the guide.</p>
    <p>Hibounote is built in <a href="https://angular.dev" target="_blank">Angular</a> using <a href="https://jsplumbtoolkit.com/community" target="_blank">Jsplumb (community edition)</a> and <a href="https://github.com/timmywil/panzoom/tree/main">Panzoom</a> to make the core functionalities</p>
    <p>If you have any suggestion or bug report, don’t hesitate to open an issue in github or contact: <span>hibounoteapp&#64;gmail.com</span></p>
  </div>
</main>
