nav {
  @apply flex flex-row justify-between items-center px-8 py-2;
}

.link {
  @apply flex flex-row items-center justify-start my-1 transition-all py-1 px-6 rounded-full border-[1px] border-background-400 mx-2;

  &:hover {
    @apply bg-background-400 transition-all;
  }

  p {
    @apply ms-2;

  }
}
