main {
  @apply min-h-screen w-full flex justify-center items-center flex-col bg-background-base-50 pb-10;
}

#bgBlobSingle {
  @apply bg-background-base-50;
  background-image: url('../../../../../assets/images/bg-blob-single-variation.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
