<div id="delete-container">
<h1 class="sub-title-xl">Delete board?</h1>
<div id="buttons">
  <app-simple-button
    class="closeButton"
    mat-dialog-close
    [customStyles]="'!w-full'"
    [text]="'Cancel'"
    [elementType]="'button'"
    [theme]="'btn-secondary'"
    [visible]="true">
  </app-simple-button>
  <app-simple-button
    class="closeButton"
    mat-dialog-close="DELETE"
    [customStyles]="'!w-full'"
    [text]="'Confirm'"
    [elementType]="'button'"
    [theme]="'btn-warn'"
    [visible]="true">
  </app-simple-button>
</div>
</div>
