<div class="w-full h-full flex flex-col p-6">
  <div class="flex flex-row justify-between items-center">
    <p class="sub-title-2xl !font-semibold !self-start">Settings</p>
    <button  mat-dialog-close class="flex justify-center items-center">
      <mat-icon svgIcon="close" style="scale: 1.2;"></mat-icon>
    </button>
  </div>
  <div class="flex flex-row">
    <mat-tab-group [disableRipple]="true" class="tab-container">
      <mat-tab label="Appereance" class="!z-10">
      </mat-tab>

      <mat-tab label="Shortcuts" class="!z-10">
      </mat-tab>

      <mat-tab label="About" class="!z-0">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
