<div class="w-full h-10 rounded shadow bg-[#fcfcfc] flex-row-center justify-between" id='{{item.id}}'>
  <button class="all-center rounded p-1 shadow m-1" (click)="editBoard($event, item.id)">
    <mat-icon>edit</mat-icon>
  </button>
  <a [routerLink]="['/board']" [queryParams]="{id: item.id}" class="h-full flex-grow rounded bg-[#fcfcfc] flex-row-center justify-between px-2">
    <p class="text-sm">{{item.name}}</p>
    <p class="text-sm">Created at: {{item.dateCreated | date}} </p>
  </a>
</div>
