.board-container {
  @apply w-full h-full rounded shadow bg-background-base-50 flex-row-center justify-between transition-all;

  &:hover {
    filter: brightness(0.9);
    @apply transition-all;
  }
}

.sub-container{
  @apply rounded shadow flex flex-row items-center;
}

.flex-row-center {
  @apply flex flex-row items-center;
}

.all-center {
  @apply flex justify-center items-center;
}
