<div>
  <app-navbar
  [fixed]="false"
  [accountButton]="{
    visible: true,
    theme: 'btn-secondary'
  }"

  [loginButton]="{
    visible: true,
    theme: 'btn-secondary'
  }"

  [signupButton]="{
    visible: false,
    theme: 'btn-secondary'
  }">

  </app-navbar>

  <main id="bgBlobSingle">
    <div class="flex flex-col text-center justify-center">
      <h3 class="sub-title-3xl mb-5">Reset your password</h3>
    </div>
    <app-simple-form
    [fields]="[{
      label: 'Email',
      type: 'email',
    }]"
    [buttons]="[{
      text: 'Request Link',
      theme: 'btn-primary',
      elementType: 'submit'
    }]"
    >
      <div #additionalContent>
        <hr class="stroke-black stroke-2 my-4">
        <p class="mt-2">
          Back to <a [routerLink]="['/login']" class="text-secondary-base-300 underline">Log in screen</a>
        </p>
        <p class="mt-2">
          Need help? Contact <span class="text-secondary-base-300 underline">mindlab&#64;gmail.com</span>
        </p>
      </div>
    </app-simple-form>

  </main>
</div>
