main {
  @apply bg-background-base-50
}

div.landing-container {
  @apply flex flex-row justify-between items-center h-screen;
}

div.row-between-center {
  @apply flex flex-row justify-between items-center;
}

div.text-sections {
  @apply text-center pb-20 px-32;

  div {
    @apply w-1/6;

    h3 {
      @apply font-bold mb-2 text-lg;
    }
  }
}

#layeredWaves {
  @apply bg-background-base-50;
  background-image: url('../../../../../assets/images/bg-layered-waves.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#bgBlob {
  @apply bg-background-base-50;
  background-image: url('../../../../../assets/images/bg-blob.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

