<div>
  <nav class="bg-[#fcfcfc] w-full shadow flex flex-row items-center justify-between px-10 py-4">
    <div class="flex flex-row items-center">
      <a [routerLink]="['/']">
        <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      </a>
      <a [routerLink]="['/about']" class="ms-10">
        About
      </a>
    </div>
    <div>
      <a [routerLink]="['/login']" class="border-[1px] border-[#3d3d3d] rounded px-8 py-3">Login</a>
    </div>
  </nav>


  <main class="min-h-screen w-full flex justify-center items-center flex-col" id="bgBlobSingle">
    <div class="flex flex-col text-center justify-center">
      <h3 class="text-center font-bold text-3xl mb-5">Reset your password</h3>
    </div>
    <div class="border-[1px] border-[#3d3d3d] px-10 py-6 rounded shadow max-w-96">
      <div class="flex flex-col my-4">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="border-[1px] border-[#3d3d3d] p-1">
      </div>
      <input type="submit" value="Request link" class="bg-[#3d3dd3] mt-2 !text-white px-10 py-2 rounded w-full">
      <hr class="stroke-black stroke-2 my-4">
      <p class="mt-2">
        Back to <a [routerLink]="['/login']" class="text-[#3d3dd3] underline">Log in screen</a>
      </p>
      <p class="mt-2">
        Need help? Contact <span class="text-[#3d3dd3] underline">mindlab&#64;gmail.com</span>
      </p>
    </div>

  </main>
</div>
