<div class="fixed z-10 bg-transparent w-screen h-screen top-0 left-0 ">

</div>
<div id="popup-container">
<p>By clicking “Accept cookies”, you agree to the storing of cookies on your device to enhance website navigation.</p>
<div id="buttons">
  <app-simple-button
    id="accept"
    [customStyles]="'!w-full !m-0'"
    [theme]="'btn-primary'"
    text="Accept cookies"
    [elementType]="'button'"
    (click)="closePopup($event)">
  </app-simple-button>
  <app-simple-button
    id="decline"
    [customStyles]="'!w-full !m-0'"
    [theme]="'btn-secondary'"
    text="Decline cookies"
    [elementType]="'button'"
    (click)="closePopup($event)">
  </app-simple-button>
</div>
</div>
