<div>
  <nav class="flex flex-row justify-between items-center px-8 py-4">
    <div class="flex flex-row items-center">
      <a [routerLink]="['/']"><img src="../../assets/logoplaceholder.png" alt="logoMindlab" class="w-10"></a>
      <aside class="ms-4 font-bold">Mindlab</aside>
      <a [routerLink]="['/about']" class="ms-10">
        About
      </a>
    </div>
    <div class="flex flex-row items-center">
      <a href="/tutorial" matTooltip="See tutorials">
        <mat-icon class="me-4" >info</mat-icon>
      </a>
      <button class="w-14">
        <img src="https://placehold.co/128x128?text=User" alt="" class="rounded-full w-full">
      </button>
    </div>
  </nav>
  <main class="w-1/2 m-auto">
    <h1 class="font-bold text-4xl mb-4">Create a board</h1>
    <div class="bg-[#f3f3f3] rounded shadow py-2 px-4">
      <aside>Templates</aside>
      <div class="w-full h-32 flex flex-row justify-between items-center px-4">
        <button class="templateBoard" id="createBlank">
          <mat-icon class="white-icon">add</mat-icon>
        </button>
        <button class="templateBoard"></button>
        <button class="templateBoard"></button>
      </div>
    </div>
    <h2 class="font-bold text-2xl mt-5">Your boards</h2>
    <div class="shadow rounded py-4 px-6 min-h-60 flex flex-col mb-10">
      <div class="w-full rounded shadow flex flex-row items-center justify-between px-2 py-2">
        <button (click)="createBoard()" class="rounded shadow flex flex-row items-center p-2">
          <mat-icon>add</mat-icon>
        </button>
        <div class="rounded shadow flex flex-row items-center p-2 flex-grow">
          <mat-icon class="me-2">search</mat-icon>
          <input type="text" name="searchBoard" id="searchBoard" class="border-b-2 bg-transparent flex-grow outline-none px-2" (input)="setSearch($event)">
        </div>
      </div>
      <ng-container *ngIf="boardData.boards.length !== 0; else emptyBoards">
        <ng-container *ngIf="filteredBoards.length !== 0; else searchNotFound">
          <div *ngFor="let item of filteredBoards;" class="my-2" >
            <div class="w-full h-10 rounded shadow bg-[#fcfcfc] flex flex-row items-center justify-between" id='{{item.id}}'>
              <button class="flex justify-center items-center rounded p-1 shadow m-1" (click)="editBoard($event, item.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <a [routerLink]="['/board']" [queryParams]="{id: item.id}" class="h-full flex-grow rounded bg-[#fcfcfc] flex flex-row items-center justify-between px-2">
                <p class="text-sm">{{item.name}}</p>
                <p class="text-sm">Created at: YYYY-MM-DD</p>
              </a>
            </div>
          </div>
        </ng-container>
        <ng-template #searchNotFound>
          <div class="w-full flex-grow flex justify-center items-center">
            <p>No results found for “{{input}}”</p>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #emptyBoards class="w-full h-full">
        <div class="w-full flex-grow flex justify-center items-center">
          <p>No boards found. <a href="/signup" class="underline">Start creating!</a></p>
        </div>
      </ng-template>
    </div>
  </main>

  <footer class="bg-[#f3f3f3] flex flex-row items-center justify-between py-12 px-12 shadow">
    <div class="flex flex-row items-center justify-center">
      <img src="../../assets/logoplaceholder.png" alt="icon" class="h-10">
      <p class="ms-5">Mindlab</p>
    </div>
    <div class="flex flex-row items-center justify-center" id="footer-links-container">
      <a [routerLink]="['/support']">Support</a>
      <a [routerLink]="['/terms']">Terms of use</a>
      <button>Manage Cookies</button>
      <a [routerLink]="['/signup']">Get Started</a>
    </div>
  </footer>
</div>


<!-- <div *ngFor="let item of boardData.boards" class="my-2">
  <a [routerLink]="['/board']" [queryParams]="{id: item.id}" class="bg-red-100 p-2  rounded w-24">
    {{item.id}}
  </a>
</div> -->
