div#toolbox {
  @apply w-20 h-[500px] rounded-r bg-slate-100 shadow-xl absolute flex flex-col justify-center items-center z-10;
  top: 50%;
  transform: translate(0,-50%)
}

.edit {
  @apply flex flex-col;

  button:not(:last-child) {
    @apply mb-2
  }

  button.return {
    @apply absolute w-full h-6 top-0 left-0 m-0;
  }
}
