div#toolbox {
  @apply min-w-20 max-h-[600px] rounded-r bg-background-base-50 shadow-xl absolute flex flex-col justify-center items-center z-10 p-4;
  top: 50%;
  transform: translate(0,-50%)
}

.edit {
  @apply flex flex-col;

  button:not(:last-child) {
    @apply mb-2
  }

  button.return {
    @apply w-full h-6 top-0 left-0 m-0;
  }
}
