<div>
  <app-navbar
  [fixed]="false"
  [accountButton]="{
    visible: true,
    theme: 'btn-secondary'
  }"

  [loginButton]="{
    visible: true,
    theme: 'btn-secondary'
  }"

  [signupButton]="{
    visible: false,
    theme: 'btn-primary'
  }">

  </app-navbar>

  <main id="bgBlobSingle">
    <div class="flex flex-col text-center justify-center">
      <h3 class="sub-title-3xl mb-1 mt-10">Start thinking unlimited</h3>
      <p class="sub-title-xl !font-normal mb-5">Create your account and start to explore</p>
    </div>

    <app-simple-form
      [fields]="[
        {
          label: 'Username',
          type: 'text',
        },
        {
          label: 'Email',
          type: 'email',
        },
        {
          label: 'Password',
          type: 'password',
        },
      ]"
      [buttons]="[
        {
          text: 'Sign up',
          theme: 'btn-primary',
          elementType: 'submit',
        },
        {
          text: 'Sign up with Google',
          theme: 'btn-secondary',
          elementType: 'button',
        },
        {
          text: 'Sign up with Apple',
          theme: 'btn-secondary',
          elementType: 'button',
        },
      ]"
    ></app-simple-form>

  </main>
</div>
